body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #feffff;
 
}

#name {
    font-size: 120px;
}

h1 {
    font-weight: 400;
    color: #98dafc;
    text-align: center;
    width: 100%;
}

.site-content {
    font-weight: 100;
    text-align: center;
}

.content-text {
    font-size: 65px;
    width: 100%;
    padding: 1.3%;
    color: #daad86;
}

#link {
    text-decoration: none;
    position: relative;
     color: #daad86;
}

#link:hover {
    color:#312c32;
}

#link:before {
  content: "";
  font-size: 20px;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btn {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    outline: none;
}

.btn:hover {
    background-color: inherit;
}

#my-twitter {
    color: #55acee;
}

#my-linkedin {
    color: #0077b5;
}

#my-github {
    color: #333333;
}

.contact-section {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
       border-bottom: 7px solid #98dafc;
}
