body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #feffff;
 
}

#title {
    font-size: 100px;
    text-decoration: none;
    font-weight: 400;
    color: #98dafc;
    text-align: center;
    width: 100%;
}


#title:hover {
    text-decoration-color: #feffff;
}

.site-content {
    font-weight: 100;
    text-align: center;
}

.content-text {
    font-size: 65px;
    width: 100%;
    padding: 1.3%;
    color: #daad86;
}

#link {
    text-decoration: none;
    background-color: inherit;
    position: relative;
    color: #daad86;
    border: none;
    
}

#link:hover {
    color:#312c32;
}

#link:before {
  content: "";
  font-size: 20px;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btn {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    outline: none;
}

.btn:hover {
    background-color: inherit;
}

#my-twitter {
    color: #55acee;
}

#my-linkedin {
    color: #0077b5;
}

#my-github {
    color: #333333;
}

#about {
    padding: 6%;
    font-size: 28px;
    font-weight: 100;
    text-align: center;
}

.project-title {
    padding-left: 1%;
    border-left: 6px solid #98dafc;
    font-size: 40px;
    font-weight: 400;
}

.text {
    font-weight: 100;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 25px;
}

.footer {
    text-align: center !important;
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    border-bottom: 10px solid #98dafc;
    font-size: 50px;
}

